name: commitlint
on: [ pull_request ]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3.1.0
        with:
          fetch-depth: 0
      - name: commitlint
        uses: wagoid/commitlint-github-action@v4